header 
	{
		background-color: white; 
		height: 70px; 
		width: 100%;
		border-bottom: 1px solid #CCCCCC;
		background-image: url("../images/logo.png");
		background-repeat: no-repeat;
		background-position: 20px;
	}

	.filters {
		background-color: white;
		height: 70px;
		width: 100%;
		border: 1px solid #DDDDDD;
		border-radius: 4px;
	}


	button {
		font-size: 18px;
		background-color: #FF5A5F;
		color: #FFFFFF;
		height: 48px;
		width: 20%;
		border-radius: 4px;
		margin-right: 30px;
		margin-top: 11px;
		margin-bottom: 11px;
		float: right;

	}

	button:hover {
		opacity: 90%
	}

	.locations {
		height: 100%;
		width: 25%;
		border-right: 1px solid #DDDDDD;
		float: left;
		}

	.amenities {
		height: 100%;
		width: 25%;
		border-right: 1px solid #DDDDDD;
		float: left;
		}

	h3 {
		margin-top: 20px;
		font-weight: 600;
		margin-left: 50px;
		line-height: 0.3;
		}

	h4 {
		margin-left: 50px;
		font-weight: 400;
		font-size: 14px;
		line-height: 0.3;
		margin-top: 0px;
    	margin-bottom: 25px;
    	}

	 h2 {
    	margin-bottom: 0px;
    	margin-top: 0px;
    	font-size: 16px;
   	}

.popover {
    display: none;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    list-style-type: none;
    padding: 0;
    line-height: 1.5;
    position: relative;
  }

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}

 ul {
    list-style-type: none;
    padding: 0;
}

li {
	margin-top: 0px;
    margin-left: 30px;
    }
